auto-install-peers=false
resolve-peers-from-workspace-root=false

# https://github.com/pnpm/pnpm/issues/5447
public-hoist-pattern[]=@babel/plugin-proposal-decorators
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# https://github.com/stylelint/vscode-stylelint/issues/624
public-hoist-pattern[]=*stylelint*
